:root {
    --roxo: rgb(67, 42, 75);
    --roxoDark: rgb(47, 26, 54);
    --amarelo: rgb(221, 192, 138);
    --amareloDark: rgba(221, 192, 138, .3);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    border-radius: 16px;
}

body {
    font-family: -apple-system, 'Inter', sans-serif;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;
    overflow: hidden;
    background: transparent;
}
input {
    -webkit-app-region: no-drag;
}
textarea {
    -webkit-app-region: no-drag;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    outline: 0;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.top {
    display: flex;
    background-color: var(--roxoDark);
    padding: .8rem 1rem;
    border-radius: 16px 16px 0 0;
    border-bottom: 1px solid var(--amareloDark);
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.top p {
    font-size: 12px;
}

.top-btn {
    display: flex;
    gap: 10px;
}

.dot-close-macro {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(172, 52, 52);
    cursor: pointer;
}

.dot-minimize-macro {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(211, 188, 86);
    cursor: pointer;
}

.dot-fixed-macro {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(105, 212, 186);
    cursor: pointer;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--roxo);
    color: rgb(221, 192, 138);
    border-radius: 16px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: var(--amarelo);
    color: var(--roxoDark);
}

input[type="text"]::placeholder,
textarea::placeholder {
    font-family: -apple-system, 'Inter', sans-serif;
    color: var(--roxoDark);
}

.btn-submit {
    padding: 10px 15px;
    background-color: var(--amarelo);
    color: var(--roxoDark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
}

button:hover {
    background-color: var(--amarelo);
    opacity: .5;
}